{
  "openapi": "3.0.3",
  "info": {
    "title": "Flowy App API",
    "version": "1.1.0",
    "description": "Run Flowy apps programmatically.\n\nAuthenticate with a workspace API key in the `Authorization: Bearer` header. A **secret** key (`flowy_…`) is for servers; a **publishable** key (`flowy_pk_…`) is browser-safe and only works from its allowlisted domains. Every run bills the API key's own workspace credits (caller-pays), so a leaked key can never spend another workspace's balance.\n\nKeys carry **scopes**: `apps:read` (list/inspect apps), `runs:read` (poll runs), and `runs:write` (start runs). A request that needs a scope the key doesn't hold returns `403`.\n\nA published (public) app is runnable by any key; a private app is runnable only by a key of its own workspace."
  },
  "servers": [
    {
      "url": "https://apis.tryflowy.ai/genstudio-svc-v2/api",
      "description": "Flowy production API"
    }
  ],
  "security": [{ "ApiKeyAuth": [] }],
  "tags": [
    { "name": "Apps", "description": "Discover apps and inspect their input/output schema." },
    { "name": "Runs", "description": "Start runs and poll for their results." },
    { "name": "Spec", "description": "The machine-readable OpenAPI document." }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "flowy_*",
        "description": "A workspace API key. Secret keys (`flowy_…`) are server-side — keep them private. Publishable keys (`flowy_pk_…`) are browser-safe but only work from their allowlisted domains."
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Maximum requests allowed in the current window (per minute).",
        "schema": { "type": "integer", "example": 60 }
      },
      "X-RateLimit-Remaining": {
        "description": "Requests remaining in the current window.",
        "schema": { "type": "integer", "example": 59 }
      },
      "X-RateLimit-Reset": {
        "description": "Unix epoch second at which the current window resets.",
        "schema": { "type": "integer", "example": 1893456000 }
      },
      "Retry-After": {
        "description": "Seconds to wait before retrying (sent on 429).",
        "schema": { "type": "integer", "example": 12 }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": { "error": { "type": "string", "example": "this API key lacks the runs:write scope" } },
        "required": ["error"]
      },
      "RunResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "runId": { "type": "string", "example": "64c3f2a1e8b9c0d1f2e3a4b5" },
              "status": { "type": "string", "enum": ["queued", "running", "completed", "failed"], "example": "queued" }
            }
          }
        }
      },
      "RunView": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "runId": { "type": "string", "example": "64c3f2a1e8b9c0d1f2e3a4b5" },
              "appId": { "type": "string", "example": "507f1f77bcf86cd799439011" },
              "appTitle": { "type": "string", "example": "Headshot generator" },
              "status": { "type": "string", "enum": ["queued", "running", "completed", "failed"], "example": "completed" },
              "outputs": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "nodeId": { "type": "string", "example": "node_9" },
                    "kind": { "type": "string", "enum": ["image", "video", "audio", "text", "flam"], "example": "image" },
                    "url": { "type": "string", "description": "Signed, downloadable media URL — present for media outputs; expires.", "example": "https://cdn.tryflowy.ai/runs/headshot.png" },
                    "text": { "type": "string", "description": "Text result — present for text outputs." }
                  }
                }
              },
              "error": { "type": "string", "description": "Human-readable failure reason. Present only when status is failed." },
              "createdAt": { "type": "string", "format": "date-time", "example": "2026-01-01T00:00:00Z" },
              "updatedAt": { "type": "string", "format": "date-time", "example": "2026-01-01T00:00:05Z" }
            }
          }
        }
      },
      "AppSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "507f1f77bcf86cd799439011" },
          "slug": { "type": "string", "example": "headshot-generator" },
          "title": { "type": "string", "example": "Headshot generator" },
          "description": { "type": "string", "example": "Turn a selfie into a studio headshot." },
          "published": { "type": "boolean", "example": true },
          "runCount": { "type": "integer", "example": 42 },
          "thumbnailUrl": { "type": "string", "example": "https://cdn.tryflowy.ai/apps/headshot.png" }
        }
      },
      "AppDetail": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "507f1f77bcf86cd799439011" },
          "slug": { "type": "string", "example": "headshot-generator" },
          "title": { "type": "string", "example": "Headshot generator" },
          "description": { "type": "string", "example": "Turn a selfie into a studio headshot." },
          "published": { "type": "boolean", "example": true },
          "thumbnailUrl": { "type": "string", "example": "https://cdn.tryflowy.ai/apps/headshot.png" },
          "inputs": { "type": "array", "items": { "type": "object" }, "description": "Input field schema; each item's nodeId is the key used in the run request inputs map." },
          "outputs": { "type": "array", "items": { "type": "object" } }
        }
      }
    }
  },
  "paths": {
    "/v1/apps": {
      "get": {
        "tags": ["Apps"],
        "summary": "List apps",
        "description": "Lists the active apps in the authenticated key's workspace. **Requires the `apps:read` scope.**",
        "operationId": "listApps",
        "responses": {
          "200": {
            "description": "The apps in your workspace.",
            "headers": {
              "X-RateLimit-Limit": { "$ref": "#/components/headers/X-RateLimit-Limit" },
              "X-RateLimit-Remaining": { "$ref": "#/components/headers/X-RateLimit-Remaining" },
              "X-RateLimit-Reset": { "$ref": "#/components/headers/X-RateLimit-Reset" }
            },
            "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/AppSummary" } } } } } }
          },
          "401": { "description": "Invalid or missing API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "The key lacks the apps:read scope", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "429": { "description": "Rate limit exceeded", "headers": { "Retry-After": { "$ref": "#/components/headers/Retry-After" } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/v1/apps/{appId}": {
      "get": {
        "tags": ["Apps"],
        "summary": "Get an app",
        "description": "Returns an app's identity plus its input/output schema. Use each input's `nodeId` as the key in the run request's `inputs` map. Allowed when the app is published (any key) or belongs to the key's own workspace. **Requires the `apps:read` scope.**",
        "operationId": "getApp",
        "parameters": [{ "name": "appId", "in": "path", "required": true, "schema": { "type": "string" }, "example": "507f1f77bcf86cd799439011" }],
        "responses": {
          "200": {
            "description": "App detail with input/output schema.",
            "headers": {
              "X-RateLimit-Limit": { "$ref": "#/components/headers/X-RateLimit-Limit" },
              "X-RateLimit-Remaining": { "$ref": "#/components/headers/X-RateLimit-Remaining" },
              "X-RateLimit-Reset": { "$ref": "#/components/headers/X-RateLimit-Reset" }
            },
            "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/AppDetail" } } } } }
          },
          "401": { "description": "Invalid or missing API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Private app not in your workspace, or the key lacks the apps:read scope", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "App not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/v1/apps/{appId}/runs": {
      "post": {
        "tags": ["Runs"],
        "summary": "Start a run",
        "description": "Starts an asynchronous run, billed to the key's workspace. Returns immediately with a `runId` — poll `GET /v1/runs/{runId}` for the result. Omit the body for an app with no inputs. **Requires the `runs:write` scope.**",
        "operationId": "startRun",
        "parameters": [{ "name": "appId", "in": "path", "required": true, "schema": { "type": "string" }, "example": "507f1f77bcf86cd799439011" }],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "inputs": { "type": "object", "additionalProperties": { "type": "string" }, "description": "Map of input nodeId -> value (text, or a URL for media inputs). Get the keys from GET /v1/apps/{appId}." }
                }
              },
              "example": { "inputs": { "node_1": "https://example.com/me.jpg", "node_2": "studio lighting, neutral background" } }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Run accepted. Poll GET /v1/runs/{runId}.",
            "headers": {
              "X-RateLimit-Limit": { "$ref": "#/components/headers/X-RateLimit-Limit" },
              "X-RateLimit-Remaining": { "$ref": "#/components/headers/X-RateLimit-Remaining" },
              "X-RateLimit-Reset": { "$ref": "#/components/headers/X-RateLimit-Reset" }
            },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RunResponse" } } }
          },
          "401": { "description": "Invalid or missing API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "402": { "description": "Daily spend cap reached or insufficient workspace credits", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Private app not in your workspace, or the key lacks the runs:write scope", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "App not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "429": { "description": "Rate limit or concurrency limit exceeded", "headers": { "Retry-After": { "$ref": "#/components/headers/Retry-After" } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/v1/runs/{runId}": {
      "get": {
        "tags": ["Runs"],
        "summary": "Get a run",
        "description": "Returns a run's status and, once complete, its outputs (signed, downloadable media URLs). Only runs started by your own workspace are visible. **Requires the `runs:read` scope.**",
        "operationId": "getRun",
        "parameters": [{ "name": "runId", "in": "path", "required": true, "schema": { "type": "string" }, "example": "64c3f2a1e8b9c0d1f2e3a4b5" }],
        "responses": {
          "200": {
            "description": "Run status and outputs.",
            "headers": {
              "X-RateLimit-Limit": { "$ref": "#/components/headers/X-RateLimit-Limit" },
              "X-RateLimit-Remaining": { "$ref": "#/components/headers/X-RateLimit-Remaining" },
              "X-RateLimit-Reset": { "$ref": "#/components/headers/X-RateLimit-Reset" }
            },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RunView" } } }
          },
          "401": { "description": "Invalid or missing API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Run belongs to another workspace, or the key lacks the runs:read scope", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Run not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/v1/openapi.json": {
      "get": {
        "tags": ["Spec"],
        "summary": "Get the OpenAPI spec",
        "description": "The machine-readable OpenAPI 3 description of this API. Public — no key required.",
        "operationId": "getOpenAPISpec",
        "security": [],
        "responses": { "200": { "description": "OpenAPI 3 document", "content": { "application/json": {} } } }
      }
    }
  }
}
